@charset "utf-8";

/* register_header样式 */

#register_header{
    min-width: 1200px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 3px 1px #ddd;
    position: relative;
    z-index: 1;
}
.register_header_wrap{
    padding: 16px 0;
    width: 1200px;
    height: 48px;
    margin: 0 auto;
}
.register_logo{
    width: 145px;
    height: 45px;
}
.register_header_right span{
    margin-right: 20px;
    color: #b9b9b9;
}
.register_header_right span a{
    color: #0053c5;
}
.register_header_right span a:hover{
    color: #f60;
}
.header_help{
    position: relative;
}
.header_help .help_menu{
    position: relative;
    z-index: 1;
    display: block;
    padding: 0 5px;
}
.header_help .help_menu > *{
    float: left;
}
.header_help .help_menu b{
    margin: 0 5px;
    color: #333;  
}
.help_menu strong{
    width: 18px;
    height: 18px;
    background: url(../images/regist.png) no-repeat -344px 0;
}
.help_menu em{
    width: 14px;
    height: 14px;
    background: url(../images/regist.png) no-repeat right -27px;
}
.header_help .help_list{
    width: 100px;
    height: 125px;
}
.help_list{
    display: none;
    position: absolute;
    top: -6px;
    left: 0;
    border: 1px solid #ccc;
}
.help_list ul{
    background-color: #fff;
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.help_list ul li{
    width: 72px;
    border-top: 1px dashed #ddd;
    line-height: 24px;
    height: 24px;
    padding-left: 28px;
    color: #333;
}
.help_list ul li a{
    color: inherit;
}
.help_list ul li:hover{
    color: red
}
.help_menu:hover b{
    color: red
}

/* login_main */
#login_main{
    padding: 15px 0;
    min-width: 1200px;
    background-color: #fcfcfc;
}
.main_wrap{
    width: 980px;
    margin: 0 auto;
    min-height: 395px;
    position: relative;
}
.main_wrap .main_imgbox{
    margin-top: 60px;
    width: 510px;
    height: 315px;
}
.main_wrap .ipt_model{
    padding: 10px 30px;
    margin-top: 10px;
    width: 330px;
    min-height: 395px;
    background-color: #fff;
    position: relative;
}
.ipt_model .error_pic{
    display: none;
    position: absolute;
    top: 0;
    left: 30px;
    width: 282px;
    height: 30px;
    padding: 0 10px 0 36px;
    border: 1px solid #e5debc;
    border-radius: 2px;
    background: #fff7d1 url(../images/login.png) no-repeat -324px -150px;
    line-height: 30px;
    color: #999;
}
.ipt_model .ipt_tit{
    margin: 30px 0 5px 0;
    line-height: 30px;
}
.ipt_model .ipt_tit h3{
    font-size: 14px;
    color: #666;
    font-weight: bold;
}
.ipt_model .ipt_tit a{
    font-size: 12px;
    color: #06c;
}
.ipt_model .ipt_tit a:hover{
    color: #f60;
}
#ipt_wrap .ipt_box{
    height: 24px;
    margin-bottom: 10px;
    padding: 14px 18px;
    border: 1px solid #dedede;
    background: #FFF;
    line-height: 24px;
}
#ipt_wrap .ipt_box label{
    float: left;
    height: 24px;
    width: 42px;
}
#ipt_wrap .ipt_box input{
    box-shadow: 0 0 0px 1000px #fff inset !important;
    float: left;
    width: 233px;
    height: 24px;
    color: #333!important;
}
#ipt_wrap .ipt_box ::-webkit-input-placeholder{
    color: #aaa;
}
#ipt_wrap .ipt_box:first-of-type label{
    background: url(../images/login.png) no-repeat -48px 3px;
}
#ipt_wrap .ipt_box:nth-of-type(2) label{
    background: url(../images/login.png) no-repeat -150px 3px;
}
#ipt_wrap .auto_login{
    margin: 10px 0;
}
#ipt_wrap .auto_login p:nth-child(1) a:nth-child(1){
    cursor: pointer;
    float: left;
    width: 48px;
    height: 24px;
    padding-left: 18px;
    line-height: 24px;
    font-size: 12px;
    color: #999;
    background: url(../images/login.png) no-repeat -347px -265px;
}
#ipt_wrap .auto_login p:nth-child(1) a.check_click{
    background-position-y: -325px!important;
}
#ipt_wrap .auto_login p:nth-child(1) a:nth-child(2){
    color: #999;
    line-height: 24px;
}
#ipt_wrap .auto_login p:nth-child(2){
    line-height: 24px;
    color: #333;
}
#ipt_wrap .auto_login p:nth-child(2) a{
    color: #06c;
}
#ipt_wrap .auto_login p:nth-child(2) a:hover{
    color: #f60;
}
#ipt_wrap .auto_login p:nth-child(1) span{
    float: left;
    line-height: 24px;
    margin-left: 7px;
    color: red;
    display: none;
}
#login_btn{
    position: relative;
    z-index: 3;
    text-align: center;
    display: block;
    width: 330px;
    height: 52px;
    border: 0 none;
    border-radius: 3px;
    background: #ff3c3c;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    text-shadow: 1px 1px 1px #ff7373;
    line-height: 52px;
}
.login_Cooperation p{
    padding: 15px 0;
    color: #666;
}
.login_Cooperation .account_list li{
    margin-right: 20px;
    float: left;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: url(../images/login_joint.png) no-repeat;
}
.login_Cooperation .account_list li:nth-child(1){
    background-position: -1px -1px;
}
.login_Cooperation .account_list li:nth-child(2){
    background-position: -52px -1px;
}
.login_Cooperation .account_list li:nth-child(3){
    background-position: -105px -1px;
}
.login_Cooperation .account_list li:nth-child(4){
    background-position: -155px -1px;
}
.login_Cooperation .account_list li a{
    display: block;
    width: 100%;
    height: 100%;
}
.login_Cooperation .more_control{
    position: relative;
    z-index: 3;
    display: block;
    line-height: 34px;
    color: #999;
    padding-right: 25px;
    background: url(../images/login.png) no-repeat 78px -30px;
}
.login_Cooperation .more_list{
    margin-top: 15px;
    display: none;
}
.login_Cooperation .more_list li{
    width: 62px;
    height: 17px;
    float: left;
    margin-bottom: 10px;
    padding-left: 20px;
    background: url(../images/login_joint.png) no-repeat;
}
.login_Cooperation .more_list li a{
    font-size: 12px;
    line-height: 18px;
    color: #999;
}
.login_Cooperation .more_list li:nth-child(1){
    background-position: -1px -49px;
}
.login_Cooperation .more_list li:nth-child(2){
    background-position: -83px -49px;
}
.login_Cooperation .more_list li:nth-child(3){
    background-position: -165px -49px;
}
.login_Cooperation .more_list li:nth-child(4){
    position: relative;
    z-index: 3;
    background-position: -247px -49px;
}
.login_Cooperation .more_list li:nth-child(5){
    background-position: -1px -76px;
}
.login_Cooperation .more_list li:nth-child(6){
    background-position: -83px -76px;
}
.main_right .codeswitch{
    cursor: pointer;
    width: 62px;
    height: 62px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.main_right .codeswitch div{
    z-index: 1;
    width: 62px;
    height: 62px;
    background: url(../images/codeSwich.png) no-repeat -88px 0;
}
.main_right .codeswitch em{
    z-index: 2;
    position: absolute;
    width: 80px;
    height: 80px;
    display: block;
    transform: translate(-38px, -38px) rotate(45deg);
}
.main_right .login_code .login_code_title{
    color: #666;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
}
.main_right .login_code{
    padding-top: 70px;
    width: 330px;
    height: 340px;
}
.main_right .login_code .login_code_title a{
    color: #ff3c3c;
}
.main_right .login_code .login_code_box{
    width: 170px;
    height: 170px;
    margin: 20px auto;
}
.main_right .login_code .login_code_box img{
    width: 100%;
    height: 100%;
}
.main_right .login_code .login_code_handle{
    text-align: center;
    color: #666;
}
.main_right .login_code .login_code_handle span{
    cursor: pointer;
}
.main_right .login_code .login_code_handle span:hover{
    color: #f60;
}





/* register_footer */
#register_footer{
    box-shadow: 0 -1px 3px #eee;
    min-width: 1200px;
    border-top: 1px solid #e5e5e5;
    height: 60px;
    padding-top: 20px;
    color: #333;
}
#register_footer div{
    text-align: center;
    margin-bottom: 10px;
}
#register_footer div a{
    display: inline-block;
    color: inherit;
    margin: 0 5px;
}
#register_footer div a:hover{
    color: #c00;
}
#register_footer p{
    text-align: center;
}