@charset "utf-8";

/* register_header样式 */

#register_header{
    min-width: 1200px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 3px 1px #ddd;
    position: relative;
    z-index: 1;
}
.register_header_wrap{
    padding: 16px 0;
    width: 1200px;
    height: 48px;
    margin: 0 auto;
}
.register_logo{
    width: 145px;
    height: 45px;
}
.register_header_right span{
    margin-right: 20px;
    color: #b9b9b9;
}
.register_header_right span a{
    color: #0053c5;
}
.register_header_right span a:hover{
    color: #f60;
}
.header_help{
    position: relative;
}
.header_help .help_menu{
    position: relative;
    z-index: 1;
    display: block;
    padding: 0 5px;
}
.header_help .help_menu > *{
    float: left;
}
.header_help .help_menu b{
    margin: 0 5px;
    color: #333;  
}
.help_menu strong{
    width: 18px;
    height: 18px;
    background: url(../images/regist.png) no-repeat -344px 0;
}
.help_menu em{
    width: 14px;
    height: 14px;
    background: url(../images/regist.png) no-repeat right -27px;
}
.header_help .help_list{
    width: 100px;
    height: 125px;
}
.help_list{
    display: none;
    position: absolute;
    top: -6px;
    left: 0;
    border: 1px solid #ccc;
}
.help_list ul{
    background-color: #fff;
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.help_list ul li{
    width: 72px;
    border-top: 1px dashed #ddd;
    line-height: 24px;
    height: 24px;
    padding-left: 28px;
    color: #333;
}
.help_list ul li a{
    color: inherit;
}
.help_list ul li:hover{
    color: red
}
.help_menu:hover b{
    color: red
}

/* register_main */
#register_main{
    min-width: 1200px;
    background-color: #fcfcfc;
}
.main_wrap{
    width: 1200px;
    margin: 0 auto;
    height: 540px;
    position: relative;
}
.main_wrap .bg_box{
    position: absolute;
    top: 20px;
    left: 50%;
    width: 1200px;
    height: 500px;
    margin-left: -600px;
}
.main_wrap .bg_icon1, .bg_icon2, .bg_icon3, .bg_icon4, .bg_icon5{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.main_wrap .bg_icon1{
    opacity: .5;
}
.bg_icon1{
    background: url(../images/r_icon1.png) no-repeat;
}
.bg_icon2{
    background: url(../images/r_icon2.png) no-repeat;
}
.bg_icon3{
    background: url(../images/r_icon3.png) no-repeat;
}
.bg_icon4{
    background: url(../images/r_icon4.png) no-repeat;
}
.bg_icon5{
    background: url(../images/r_icon5.png) no-repeat;
}
.register_model{
    width: 330px;
    position: absolute;
    top: 20px;bottom: 0;
    left: 0;right: 0;
    margin: auto;
}
.register_model .register_title{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    color: #333;
    margin-bottom: 10px;
}
.register_model .register_form{
    position: relative;
    width: 100%;
}
.register_form .ipt_list li{
    width: 100%;
    height: 52px;
    border: 1px solid #dedede;
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
}
.ipt_list li .ipt{
    position: relative;
    line-height: 52px;
    padding: 0 20px;
    height: 100%;
}
.ipt_list li:nth-child(3){
    width: 200px;
}
.ipt_list li:nth-child(3) .code_get{
    position: absolute;
    top: 0;
    right: -131px;
    text-align: center;
    background-color: #57565f;
    line-height: 52px;
    border-radius: 2px;
    font-size: 14px;
}
.ipt_list li:nth-child(3) .code_get a{
    cursor: default;
    color: #fff;
    display: block;
    width: 120px;
    height: 50px;
}
.ipt_list li .ipt input{
    box-shadow: 0 0 0px 1000px #fcfcfc inset !important;
    background-color: #fcfcfc !important;
    -webkit-text-fill-color: #666;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #666;
}
.ipt_list li .ipt .tit{
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 14px;
    color: #666;
}
.register_form .register_agreement{
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    color: #666;
    padding-left: 15px;
}
.register_form .register_agreement a{
    color: #06c;
}
.register_form #register_btn{
    display: block;
    height: 52px;
    margin-top: 6px;
    background-color: #ff3c3c;
    font-size: 16px;
    line-height: 52px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
}
.register_form #register_btn:hover{
    background-color: #d72226;
}
.ipt_list .ipt_warning_box{
    max-width: 160px;
    height: 40px;
    padding: 10px;
    background-color: #E4E4E4;
    position: absolute;
    top: -4px;
    right: -200px;
    line-height: 20px;
    color: #666;
    display: none;
}
.ipt_warning_box .ipt_warning_text i{
    border: 5px solid;
    border-color: transparent;
    border-right-color: #E4E4E4;
    position: absolute;
    top: 25px;
    left: -10px;
}
.ipt_list li:last-of-type .ipt_warning_box{
    height: 20px;
    top: 6px;
    right: -124px;
}
.ipt_list li:last-of-type .ipt_warning_box i{
    top: 15px;
}
.ipt_warning_box .ipt_correct{
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 100%;
    background: url(../images/r_ipt_correct.png) no-repeat 0 center;
}
.ipt_warning_box .ipt_grade{
    width: 120px;
    height: 20px;
    padding: 10px;
    background-color: #E4E4E4;
    position: absolute;
    top: 10px;
    left: 0;
    line-height: 20px;
    color: #666;
}
.ipt_warning_box .ipt_grade i{
    border: 5px solid;
    border-color: transparent;
    border-right-color: #E4E4E4;
    position: absolute;
    top: 15px;
    left: -10px;
}
.ipt_warning_box .ipt_grade span{
    float: left;
    width: 30px;
    height: 10px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #fff;
}
.ipt_warning_box .ipt_correct{
    opacity: 0;
}
.ipt_warning_box .ipt_grade{
    opacity: 0;
}
#toast{
    display: none;
    position: absolute;
    top: -65px;
    left: 0;
    width: 280px;
    height: 30px;
    padding: 5px 0 5px 50px;
    line-height: 30px;
    font-size: 16px;
    color: #888;
    border-radius: 5px;
    background: #fdf7d9 url(../images/register_toast_icon.png) no-repeat 10px center;
    border: 1px solid #ebe4c5;
}
/* register_footer */
#register_footer{
    box-shadow: 0 -1px 3px #eee;
    min-width: 1200px;
    border-top: 1px solid #e5e5e5;
    height: 60px;
    padding-top: 20px;
    color: #333;
}
#register_footer div{
    text-align: center;
    margin-bottom: 10px;
}
#register_footer div a{
    display: inline-block;
    color: inherit;
    margin: 0 5px;
}
#register_footer div a:hover{
    color: #c00;
}
#register_footer p{
    text-align: center;
}