@charset "utf-8";

#header{
    min-width: 1200px;
}
#header .hd_top_wrap{
    width: 1200px;
}

body{
    background: url(../images/shoppingcart_bg.png) no-repeat top center fixed;;
}

#cart_data{
    margin-bottom: 30px;
    min-width: 1200px;
}
#cart_data .cart_data_wrap{
    width: 1200px;
    margin: 0 auto;
}
.cart_header{
    min-width: 1200px;
}
.cart_header{
    height: 60px;
    padding-top: 10px;
    padding: 10px 0;
}

.cart_hd_logo{
    width: 133px;
    height: 48px;
}
.cart_hd_logo a:nth-of-type(1){
    float: left;
    padding-top: 17px;
    width: 40px;
    height: 28px;
    margin-right: 10px;
    background: url(../images/shoppingcart_logo.png) no-repeat bottom;
}
.cart_hd_logo a:nth-of-type(2){
    float: left;
    padding-top: 8px;
    width: 73px;
    height: 40px;
    margin-right: 10px;
    background: url(../images/shoppingcart_txt.png) no-repeat 0 20px;
}

.shop_address{
    padding: 18px 0 0 10px;
    width: 260px;
    height: 26px;
}
.shop_address > span{
    width: 40px;
    float: left;
    line-height: 26px;
    color: #333;
    margin-right: 5px;
}
.shop_address .address_box{
    color: #666;
    position: relative;
    float: left;
    width: 148px;
    height: 22px;
    line-height: 22px;
    padding: 2px 38px 2px 11px;
    border: 1px solid #eceaea;
    border-radius: 5px;
    background: #fcfbfb;
    cursor: pointer;
}
.shop_address .address_box span em{
    margin: 0 2px;
}
.shop_address .address_box i{
    position: absolute;
    right: 5px;
}
.cart_hd_search{
    width: 260px;
    height: 20px;
    padding: 5px 10px;
    margin: 15px 0;
    border: 1px solid #eceaea;
    border-radius: 5px;
    background: #fcfbfb;
}
.cart_hd_search input{
    float: left;
    width: 230px;
    height: 20px;
    background: #fcfbfb;
    color: #666;
}
.cart_hd_search a{
    float: left;
    width: 30px;
    height: 20px;
    text-align: center;
    color: #aaa;
    line-height: 20px;
}
.cart_show{
    padding: 0 30px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
}
.goods_tit{
    height: 40px;
    line-height: 40px;
    color: #666;
    display: inline-block;
    border-bottom: 1px solid #e6e6e6;
}
.pro_select_none{
    display: inline-block;
    color: #666;
}
.pro_select_none span{
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
}
.pro_select_none span img{
    width: 100%;
    height: 100%;
    display: none;
}
.pro_select span{
    background-color: #ff5e5e;
    border-color: #ff5e5e;
}
.pro_select span img{
    display: block;
}
.goods_tit .pro_name{
    margin: 0 380px 0 60px;
}
.goods_tit .pro_num{
    margin: 0 150px 0 150px;
}
.goods_tit .pro_play{
    margin-left: 95px;
}

.goods_list .cart_goods{
    margin: 10px 0;
    border-bottom: 1px dashed #e6e6e6;
    line-height: 100px;
}
.goods_list .cart_goods:last-of-type{
    border-bottom: none;
}
.cart_goods .cart_goods_img{
    display: inline-block;
    width: 75px;
    height: 75px;
    vertical-align: middle;
    margin: 0 10px 0 5px;
}
.cart_goods .cart_goods_img img{
    width: 100%;
    height: 100%;
}
.cart_goods .cart_goods_name{
    vertical-align: middle;
    display: inline-block;
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
    margin: 0 136px 0 0;
}
.cart_goods .cart_goods_name:hover{
    color: #ff5e5e;
}
.cart_goods .cart_goods_price, .cart_goods .cart_goods_pricetotal{
    display: inline-block;
    width: 60px;
    color: #333;
}
.cart_goods .cart_goods_num{
    vertical-align: middle;
    display: inline-block;
    padding: 3px 0;
    width: 80px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    background-color: #fff;
    margin: 0 135px 0 110px;
}
.cart_goods .cart_goods_num input{
    float: left;
    width: 38px;
    height: 18px;
    border: none;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    text-align: center;
    color: #333;
}
.cart_goods .cart_goods_num a{
    color: #666;
    text-align: center;
    float: left;
    width: 20px;
}
.cart_goods .cart_goods_del{
    display: inline-block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 65px;
    position: relative;
    padding-top: 10px;
}
.cart_goods .cart_goods_del img{
    width: 18px;
    height: 18px;
    display: inline-block;
}
.cart_goods .cart_goods_del em{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#pay_tools_bar{
    height: 60px;
    width: 100%;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fcfcfc;
}
.pay_tools_wrap{
    height: 60px;
    width: 1200px;
    margin: 0 auto;
}
#pay_tools_bar .pro_select_none{
    float: left;
    height: 100%;
    line-height: 60px;
}
#pay_tools_bar .go_settlement{
    margin-left: 20px;
    float: right;
    width: 110px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #ff6c6c;
    font-family: 'microsoft yahei';
    font-weight: bold;
    font-size: 17px;
    color: #fff;
}
#pay_tools_bar .cart_total{
    line-height: 60px;
    float: right;
    color: #333;
    font-size: 12px;
}
#pay_tools_bar .cart_total i{
    color: #ff5e5e;
    font-weight: bold;
}
#pay_tools_bar .cart_total span{
    color: #ff5e5e;
    font-weight: bold;
    font-size: 20px;
}

.paybarpos1{
    position: fixed;
    bottom: 0;
}
.paybarpos2{
    position: relative;
    top: 0;
}
.paybarpos3{
    position: fixed;
    top: 0;
}

#random_pro{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;
}
#random_pro img{
    width: 1200px;
}

/* 购物车为空时样式 */
.empty_box{
    width: 550px;
    height: 300px;
    margin: 30px auto;
}
.empty_box img{
    float: left;
    width: 300px;
    height: 300px;
}
.empty_box p{
    float: right;
    padding-left: 5px;
    font-size: 14px;
    font-family: 'sumhei';
    line-height: 24px;
    margin-top: 100px;
}
.empty_box a{
    float: right;
    width: 75px;
    height: 26px;
    border: 1px solid #ff5e5e;
    border-radius: 2px;
    background-color: #ff6c6c;
    color: #fff;
    line-height: 26px;
    text-align: center;
    margin:10px 70px 0 0;
}
